body {
    /* BACKGROUND IMAGE */
    background-image: url('background.jpg'); 
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    padding: 0;
    /* Optional: adds a fall-back color in case the image fails to load */
    background-color: #051018; 
}

body,h1,h2,h3,h4,h5,h6 {
    font-family: Roboto, sans-serif;
}

.three-column{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
}

/* all images are 100% */
img{
    width: 100%;
}


body {
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    padding: 0;
}

/* This creates the dark, centered strip for your content */
.main-container {
    background-color: rgba(14, 51, 75, 0.9); /* Steam's signature dark blue, slightly transparent */
    max-width: 1000px;
    margin: 0 auto; /* Centers the container */
    min-height: 100vh;
    padding: 5px;
    box-shadow: 0 0 50px rgba(61, 235, 241, 0.5);
    color: #c7d5e0;
}

.three-column h3 {
    color: #ffffff;
    font-weight: bold;
    text-align: left;
    margin-top: 10px;
}

nav.w3-bar {
    margin-top: 140px; /* Pulls the bar UP by 5 pixels */
    min-height: unset !important; 
    height: 25px; /* Set the exact thickness you want */
    display: flex;
    align-items: center; /* Keeps the text centered vertically */
    
}
nav.w3-bar span {
    color: #ffffff; /* Makes the text pure white */
}


