<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Upcoming Steam Games as of 2026</title>
    <link rel="icon" type="image/x-icon" href="/static/steamicon.png">
</head>
<body class="w3-container">
    <div class="main-container"> <header class="w3-container w3-padding-32">
</header>

<!-- This is the Nav Bar -->
<nav class="topnav">

<div class="style0">
<a href="/">
<div class="steamicon2">

<!-- Just selects the steam logo from static-->
<img src="{{ url_for('static', filename='steamicon.png') }}" alt="Steam Logo">
</div>
<!-- Just a span ON NAV BAR-->
<div class="hometextstyle">
    <span>Home</span>
</div>
</a>
</div>


<!-- Just the search bar -->
<div class="search-bar">
    <input type="text" id="page-search" placeholder="Search for games within the page! (HOME PAGE)">
</div>
</nav>

<!-- Just a span label -->
<div class="labeltext">
    <span>ALREADY RELEASED/UPCOMING STEAM GAMES AS OF 2026</span>
</div>

<!-- Just a span label -->
<div class="labeltext2">
    <span>currency is shown in USD</span>
</div>



<!-- Youtube video -->
<iframe class="video" src="{{ game[7]}}" width="550" height="345" style="border: none;" allowfullscreen>
</iframe>

<!-- Title of the game -->
<div class="Title">
     <h1>{{ game[2] }}</h1>
    </div>

<!-- Just the studio name -->
<div class="studio-name">
    <h2>{{ game['Name'] }}</h2>
</div>

<!-- Just a simple label to tell the user that this is the studio -->
<div class="studio-label">
    <span>| Studio name</span>
</div>

<!-- These two just shows the release date, grabs it from db -->
<div class="releasedate">
    <p>{{ game[3]}}</p>
</div>
<div class="studio-label2">
    <span>| Release date</span>
</div>

<!-- Game Info here -->
<div class="information">
    <p>{{ game[5] }}</p>
</div>

<!-- This displays a $ then the cost of each game -->
<div class="costgame">
    <span>$</span>
    {{ game[4] }}
</div>

<!-- Just a lable similar to cost in css-->
<div class="txtusd">
    <span>currency is shown in USD</span>
</div>


 <!-- Just a little title -->  
<div class="txtimage">
    <h2>3 in game screenshots </h2>
</div>
   
<!-- Images are here -->
<!-- This is the first image -->
<div class="gameimg1">
        <img src="{{ game[8] }}">
</div>


<!-- This is the second image -->
<div class="gameimg2">
    <img src="{{ game[9]}}">
</div>


<!-- This is the third image -->
<div class="gameimg3">
    <img src="{{ game[10]}}">
</div>

<!-- just a label-->
<div class="label">
    <h3>dwadwadwa</h3>
</div>



{% if request.endpoint == 'home' %}
{% endif %}

{% block body %}
{% endblock %}
</div> 

<!-- Links to javascript in static folder "search.js"-->
<script src="{{ url_for('static', filename='search.js') }}"></script>

</body>
</html>


