<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Upcoming Steam Games as of 2026</title>
    <link rel="icon" type="image/x-icon" href="/static/steamicon.png">
</head>
<body class="w3-container">
    <div class="main-container"> <header class="w3-container w3-padding-32">
</header>



<!-- This is the Nav Bar -->
<nav class="topnav">

<div class="style0">
<a href="/">
<div class="steamicon2">

<img src="{{ url_for('static', filename='steamicon.png') }}" alt="Steam Logo">
</div>
<!-- Just a span -->
<div class="hometextstyle">
    <span>Home</span>
</div>
</a>
</div>

<!-- Just the search bar -->
<div class="search-bar">
    <input type="text" id="page-search" placeholder="Search for games within the page! (HOME PAGE)">
</div>
</nav>

<!-- This is a label which appears only on Home Page -->
<div style="background-color: #202f3f;
            color: #ffffff;
            padding: 4px 15px;
            margin-top: 80px;
            font-weight: normal;
            background: linear-gradient(to top, #1b2838 0%, #404041 250%);
            text-transform: uppercase;
            letter-spacing: 0.5px;
            font-size: 0.9em;">
    ALREADY RELEASED/UPCOMING STEAM GAMES AS OF 2026
</div>

<!-- Just a span tag-->
<div style="background: linear-gradient(to top, #1b2838 0%, #1b2838 150%);
            color:#ffffff;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            font-size: 0.7em;
            padding: 4px 15px;">
<span>currency is shown in USD</span>
</div>

{% if request.endpoint == 'home' %}
{% endif %}


{% block body %}
{% endblock %}
</div> 

<!-- Links to javascript -->
<script src="{{ url_for('static', filename='search.js') }}"></script>

</body>
</html>