<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>GAME Recommendations</title>
    <link rel="icon" type="image/x-icon" href="/static/steamicon.png">
</head>
<body class="w3-container">
    <div class="main-container"> <header class="w3-container w3-padding-32">
</header>

<!-- This is the Nav Bar -->
<nav class="topnav">

<div class="style0">
<a href="/">
<div class="steamicon2">

<!-- Just selects the steam logo from static-->
<img src="{{ url_for('static', filename='steamicon.png') }}" alt="Steam Logo">
</div>
<!-- Just a span ON NAV BAR-->
<div class="hometextstyle">
    <span>Return home?</span>
</div>
</a>
</div>

<!-- Just the search bar -->
<div class="search-bar">
    <input type="text" id="page-search" placeholder="Search for games within the page! (HOME PAGE)">
</div>
</nav>

<!--Just a title-->
<div class="Recommendations">
    <span>Recommendations</span>
</div>

<!-- this is just a little span-->
<div class="gamesof26">
    <span>GAMES OF 2026</span>
</div>

<!--Recommending games ONLY games that have/ are planned to be released during the year 2026-->
<a href="game/40">
    <div class="fh6">
        <span> Forza Horizon 6</span>
    </div>
</a>

<a href="game/21">
    <div class="rer">
        <span> Resident Evil Requiem</span>
    </div>
</a>

<a href="game/36">
    <div class="prag">
        <span> Pragmata</span>
    </div>
</a>

<a href="game/25">
    <div class="marathon">
        <span> Marathon</span>
    </div>
</a>

<a href="game/53">
    <div class="warhammer40k">
        <span> WARHAMMER 40,000: Dawn Of War 4</span>
    </div>
</a>

<a href="game/53">
    <div class="subnautica">
        <span> Subnautica 2</span>
    </div>
</a>

<a href="game/34">
    <div class="jesusisawsome">
        <span> I Am Jesus Christ </span>
    </div>
</a>

<a href="game/52">
    <div class="gta6">
        <span> Grand Theft Auto VI </span>
    </div>
</a>

<a href="game/0">
    <div class="wolverine">
        <span> Marvel's Wolverine </span>
    </div>
</a>





{% if request.endpoint == 'home' %}
{% endif %}

{% block body %}
{% endblock %}
</div> 

</body>
</html>


