<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Studio Description</title>
    <link rel="icon" type="image/x-icon" href="/static/steamicon.png">
</head>
<body class="w3-container">
    <div class="main-container"> <header class="w3-container w3-padding-32">
</header>

<!-- This is the Nav Bar -->
<nav class="topnav">

<div class="style0">
    <a href="/">
<div class="steamicon2">

    <img src="{{ url_for('static', filename='steamicon.png') }}" alt="Steam Logo">
</div>
<!-- Just a span ON NAV BAR -->
<div class="hometextstyle">
    <span>Return Home?</span>
</div>
    </a>
</div>

    <a href="studiodesc">
    </a>

<!-- Just the search bar -->
<div class="search-bar">
    <input type="text" id="page-search" placeholder="Go back to Homepage to search">
</div>
</nav>

<!-- This really is just a line -->
<hr class="justaline1">

<!-- just a heading -->
<div class="StudioDescHeading1">
    <h1>Welcome to the Studios Info Page!</h1>
</div>

<!-- just a paragraph -->
<div class="studioparagraph">
    <p>"What does this page do?"" | USER <br> "Well I'm glad you asked!" | WEBSITE <br> "This page displays the name 
        and information for 45 different studios which developed 48 different games" | WEBSITE<br> "Oh wow duuuude!!! thats so awsome and useful duuuude!" | USER <br>
        "I knoooow duuude" | WEBSITE
    </p>
</div>

<!-- This really is just a line -->
<hr class="justaline">

<!-- Headings -->
<div class="mainstudiodesc1">
    <span>DATE, PUBLICLY KNOWN</span>
</div>
<div class="mainstudiodesc2">
    <span>STUDIO</span>
</div>
<div class="mainstudiodesc3">
    <span>DESCRIPTION</span>
</div>

<!-- This really is just a line -->
<hr class="justaline">

<!-- These are just headings of date, studio paragraph1 for description -->
<!-- div class 0 -->
<div class="StudioLabelDate0">
    <h3>May 1, 1950</h3>
</div>
<div class="StudioLabel0">
    <h2>Bandai </h2>
</div>
<div class="StudioDescription0">
    <p1>Founded in Japan in 1950, Bandai is a major multinational toy and entertainment company. Part of Bandai Namco, it produces iconic action figures, video games, virtual pets, and model kits based on global franchises like Gundam, Tamagotchi, Power Rangers, and Dragon Ball, bringing popular pop-culture entertainment to fans worldwide.</p1>
</div>

<!-- This really is just a line -->
<hr class="justaline1">
 
<!-- div class 1 -->
<div class="StudioLabelDate1">
    <h3>June 1, 1955</h3>
</div>
<div class="StudioLabel0">
    <h2>Namco </h2>
</div>
<div class="StudioDescription0">
    <p1>Founded in Tokyo in 1955, Namco grew from a mechanical ride operator into a legendary video game pioneer. Renowned for creating arcade icons like Pac-Man, Galaga, Tekken, and Ridge Racer, the Japanese giant merged with Bandai in 2005, solidifying its place in gaming history.</p1>
</div>

<!-- This really is just a line -->
<hr class="justaline1">
 

<!-- div class 2 -->
 <div class="StudioLabelDate0">
    <h3>July 31, 1967</h3>
</div>
<div class="StudioLabel0">
    <h2>Tecmo </h2>
</div>
<div class="StudioDescription0">
    <p1>Originally founded in Tokyo in 1967 as Tehkan, Tecmo evolved into a major Japanese video game developer and publisher. Famous for defining hits like Ninja Gaiden, Tecmo Bowl, Dead or Alive, and Fatal Frame, the action-focused studio merged with Koei in 2009 to form Koei Tecmo.</p1>
</div>

<!-- This really is just a line -->
<hr class="justaline1">
 

<!-- div class 3 -->
<div class="StudioLabelDate0">
    <h3>July 25, 1978 </h3>
</div>
<div class="StudioLabel0">
    <h2>Koei </h2>
</div>
<div class="StudioDescription0">
    <p1>Established in Japan in 1978, Koei grew into a premier video game publisher known for historical simulation and hack-and-slash action titles. Famous for legendary series like Nobunaga's Ambition, Romance of the Three Kingdoms, and Dynasty Warriors, Koei defined the Musou genre before merging with Tecmo in 2009.</p1>
</div>

<!-- This really is just a line -->
<hr class="justaline1">
 

<!-- div class 4 -->
<div class="StudioLabelDate0">
    <h3>March 9, 1981 </h3>
</div>
<div class="StudioLabel0">
    <h2>Nihon Falcom </h2>
</div>
<div class="StudioDescription0">
    <p1>Founded in Japan in 1981, Nihon Falcom is a legendary pioneer of action role-playing games. Transitioning from early PC development to modern consoles, the studio is celebrated for pioneering deep world-building, exceptional soundtracks, and enduring, fan-favorite franchises like Ys, Dragon Slayer, and The Legend of Heroes (Trails) series.</p1>
</div>

<!-- This really is just a line -->
<hr class="justaline1">
 
<!-- div class 5 -->
<div class="StudioLabelDate0">
    <h3>April 1983 </h3>
</div>
<div class="StudioLabel0">
    <h2>Enix </h2>
</div>
<div class="StudioDescription0">
    <p1>Founded in Japan in 1975, Enix began as a publisher before becoming a titan in the video game industry. Best known for creating the legendary Dragon Quest franchise—a defining cornerstone of JRPGs—Enix also published classic RPGs like Star Ocean before merging with Square in 2003 to form Square Enix.</p1>
</div>

<!-- This really is just a line -->
<hr class="justaline1">
 
<!-- div class 6 -->
<div class="StudioLabelDate0">
    <h3>September 1986 </h3>
</div>
<div class="StudioLabel0">
    <h2>Square </h2>
</div>
<div class="StudioDescription0">
    <p1>Founded in Japan in 1986, Square became a revolution in the video game industry, redefining RPGs with cinematic storytelling and cutting-edge graphics. Legendary for creating the iconic Final Fantasy franchise, alongside hits like Chrono Trigger and Kingdom Hearts, Square merged with long-time rival Enix in 2003 to form Square Enix.</p1>
</div>

<!-- This really is just a line -->
<hr class="justaline1">
 
<!-- div class 7 -->
<div class="StudioLabelDate0">
    <h3>1988 </h3>
</div>
<div class="StudioLabel0">
    <h2>Team Ninja </h2>
</div>
<div class="StudioDescription0">
    <p1>Formed in Japan in 1995 as a division of Tecmo, Team Ninja is a world-renowned video game development studio. Celebrated for high-octane action, deep combat mechanics, and challenging difficulty, the team is famous for acclaimed franchises like Ninja Gaiden, Dead or Alive, Nioh, and Rise of the Ronin.</p1>
</div>

<!-- This really is just a line -->
<hr class="justaline1">
 
<!-- div class 8 -->
<div class="StudioLabelDate0">
    <h3>1988 </h3>
</div>
<div class="StudioLabel0">
    <h2>Visual Concepts </h2>
</div>
<div class="StudioDescription0">
    <p1>Founded in California in 1988, Visual Concepts is a premier developer renowned for setting the gold standard in sports gaming. Acquired by Sega in 1999 and sold to Take-Two Interactive in 2005—triggering the creation of the 2K brand—the studio is famous for flagship franchises like NBA 2K and WWE 2K.</p1>
</div>

<!-- This really is just a line -->
<hr class="justaline1">
 
<!-- div class 9 -->
<div class="StudioLabelDate0">
    <h3>April 26, 1989 </h3>
</div>
<div class="StudioLabel0">
    <h2>Game Freak </h2>
</div>
<div class="StudioDescription0">
    <p1>Founded in Japan in 1989, Game Freak is an iconic video game developer that evolved from a self-published gaming magazine. World-renowned for creating and developing the core Pokémon series, the studio has driven one of the highest-grossing media franchises in history while also releasing original titles like Pocket Card Jockey.</p1>
</div>

<!-- This really is just a line -->
<hr class="justaline1">
 
<!-- div class 10 -->
<div class="StudioLabelDate0">
    <h3>February 8, 1991 </h3>
</div>
<div class="StudioLabel0">
    <h2>Blizzard Entertainment </h2>
</div>
<div class="StudioDescription0">
    <p1>Founded in California in 1991 as Silicon & Synapse, Blizzard Entertainment became a dominant force in PC and online gaming. Renowned for high polish and rich lore, the studio defined generations with iconic franchises like Warcraft, World of Warcraft, Diablo, StarCraft, and Overwatch, supported by its Battle.net gaming platform.</p1>
</div>

<!-- This really is just a line -->
<hr class="justaline1">
 
<!-- div class 11 -->
<div class="StudioLabelDate0">
    <h3>May 1991 </h3>
</div>
<div class="StudioLabel0">
    <h2>Bungie </h2>
</div>
<div class="StudioDescription0">
    <p1>Founded in Chicago in 1991, Bungie is a legendary game development studio that reshaped the first-person shooter genre. Famous for creating Myth, the iconic Halo franchise that propelled Xbox to stardom, and the shared-world shooter series Destiny, Bungie operates as an independent subsidiary of Sony Interactive Entertainment.</p1>
</div>

<!-- This really is just a line -->
<hr class="justaline1">
 
<!-- div class 12 -->
<div class="StudioLabelDate0">
    <h3>April 1, 1998 </h3>
</div>
<div class="StudioLabel0">
    <h2>Rockstar Games </h2>
</div>
<div class="StudioDescription0">
    <p1>Founded in New York in 1998 as a subsidiary of Take-Two Interactive, Rockstar Games is a titan of open-world game design. Famous for its sprawling environments, cinematic storytelling, and sharp satire, the studio created cultural blockbusters including Grand Theft Auto, Red Dead Redemption, Bully, and Max Payne.</p1>
</div>

<!-- This really is just a line -->
<hr class="justaline1">
 
<!-- div class 13 -->
<div class="StudioLabelDate0">
    <h3>September 16, 1998 </h3>
</div>
<div class="StudioLabel0">
    <h2>IO Interactive </h2>
</div>
<div class="StudioDescription0">
    <p1>Founded in Copenhagen in 1998, IO Interactive is an independent Danish video game developer celebrated for mastering stealth-action gameplay and sandboxes. Best known for creating the iconic Hitman series featuring Agent 47, the studio also developed hits like Freedom Fighters and expands into blockbuster IPs with 007 First Light.</p1>
</div>

<!-- This really is just a line -->
<hr class="justaline1">
 
<!-- div class 14 -->
<div class="StudioLabelDate0">
    <h3>April 1, 2001 </h3>
</div>
<div class="StudioLabel0">
    <h2>Saber Interactive </h2>
</div>
<div class="StudioDescription0">
    <p1>Founded in the US in 2001, Saber Interactive is a major video game developer and publisher. Known for its proprietary Saber3D engine, the studio excels at blockbuster action games, ports, and co-development. Its portfolio features hits like Warhammer 40,000: Space Marine 2, World War Z, SnowRunner, and TimeShift.</p1>
</div>

<!-- This really is just a line -->
<hr class="justaline1">
 
<!-- div class 15 -->
<div class="StudioLabelDate0">
    <h3>2002 </h3>
</div>
<div class="StudioLabel0">
    <h2>Ryu Ga Gotoku Studio </h2>
</div>
<div class="StudioDescription0">
    <p1>Formed within Sega in 2011, Ryu Ga Gotoku Studio (RGG Studio) is an acclaimed Japanese development team. Named after its signature franchise, the studio is famous for combining rich crime drama with quirky, open-world gameplay in the Like a Dragon (Yakuza) series, its Judgment spin-offs, and Super Monkey Ball.</p1>
</div>

<!-- This really is just a line -->
<hr class="justaline1">
 
<!-- div class 16 -->
<div class="StudioLabelDate0">
    <h3>2003 </h3>
</div>
<div class="StudioLabel0">
    <h2>Ice-Pick Lodge </h2>
</div>
<div class="StudioDescription0">
    <p1>Founded in Moscow in 2002, Ice-Pick Lodge is a renowned Russian indie game development studio celebrated for its unconventional, artistic, and deeply atmospheric titles. Pushing game design into philosophical and experimental territory, the studio is best known for creating unique, surreal cult classics such as Pathologic, The Void, and Knock-knock.</p1>
</div>

<!-- This really is just a line -->
<hr class="justaline1">
 
<!-- div class 17 -->
<div class="StudioLabelDate0">
    <h3>2003 </h3>
</div>
<div class="StudioLabel0">
    <h2>TT Games </h2>
</div>
<div class="StudioDescription0">
    <p1>Established in 2005 through a merger with Traveller's Tales, UK-based TT Games is a major video game developer and publisher owned by Warner Bros. Games. World-renowned for defining the modern LEGO game genre, the studio created iconic, family-friendly hits based on Star Wars, Harry Potter, Marvel, and DC Super Heroes.</p1>
</div>

<!-- This really is just a line -->
<hr class="justaline1">
 
<!-- div class 18 -->
<div class="StudioLabelDate0">
    <h3>April 1, 2003 </h3>
</div>
<div class="StudioLabel0">
    <h2>Square Enix (merger) </h2>
</div>
<div class="StudioDescription0">
    <p1>Formed in Japan in 2003 through the high-profile merger of rivals Square and Enix, Square Enix is an entertainment powerhouse. Uniting juggernauts like Final Fantasy and Dragon Quest, the RPG titan expanded globally, publishing hits like Kingdom Hearts, NieR, and Dragon Quest XI while managing iconic arcade and media properties.</p1>
</div>

<!-- This really is just a line -->
<hr class="justaline1">
 
<!-- div class 19 -->
<div class="StudioLabelDate0">
    <h3>2004 </h3>
</div>
<div class="StudioLabel0">
    <h2>Unknown Worlds </h2>
</div>
<div class="StudioDescription0">
    <p1>Founded in California in 2001, Unknown Worlds is an innovative indie studio celebrated for pioneering immersive, player-driven experiences. Starting with the popular Half-Life mod Natural Selection, the team achieved massive global acclaim with the underwater survival hit Subnautica and expanded into digital tabletop gaming with Moonbreaker.</p1>
</div>

<!-- This really is just a line -->
<hr class="justaline1">
 
<!-- div class 20 -->
<div class="StudioLabelDate0">
    <h3>September 29, 2005 </h3>
</div>
<div class="StudioLabel0">
    <h2>Bandai Namco Entertainment </h2>
</div>
<div class="StudioDescription0">
    <p1>Established in 2006 following the strategic union of Bandai and Namco, Bandai Namco Entertainment is a premier global video game publisher. Managing a vast library of iconic original gaming franchises—like Tekken, Pac-Man, Dark Souls, and Tales—the company excels at leveraging major anime IPs into blockbuster interactive titles worldwide.</p1>
</div>

<!-- This really is just a line -->
<hr class="justaline1">
 
<!-- div class 21 -->
<div class="StudioLabelDate0">
    <h3>2005 </h3>
</div>
<div class="StudioLabel0">
    <h2>Tarsier Studios</h2>
</div>
<div class="StudioDescription0">
    <p1>Founded in Malmö, Sweden, in 2004, Tarsier Studios is an acclaimed developer famous for crafting masterfully eerie, atmospheric worlds. Initially starting with collaborative work on PlayStation titles like LittleBigPlanet and Tearaway Unfolded, the studio achieved massive global success with its breakout horror-puzzle franchise, Little Nightmares, before expanding into original dark adventures like REANIMAL.</p1>
</div>

<!-- This really is just a line -->
<hr class="justaline1">
 
<!-- div class 22 -->
<div class="StudioLabelDate0">
    <h3>March 10, 2006 </h3>
</div>
<div class="StudioLabel0">
    <h2>Riot Games </h2>
</div>
<div class="StudioDescription0">
    <p1>Founded in Los Angeles in 2006, Riot Games is a powerhouse in competitive multiplayer gaming and esports. Best known for launching the global phenomenon League of Legends, the studio expanded its lineup into a massive universe with titles like Valorant, Teamfight Tactics, Legends of Runeterra, and the acclaimed animated series Arcane.</p1>
</div>

<!-- This really is just a line -->
<hr class="justaline1">
 
<!-- div class 23 -->
<div class="StudioLabelDate0">
    <h3>2008 </h3>
</div>
<div class="StudioLabel0">
    <h2>Playground Games </h2>
</div>
<div class="StudioDescription0">
    <p1>Founded in Leamington Spa, UK, in 2010, Playground Games is an elite Xbox Game Studio famed for its mastery of open-world game design. The studio propelled to global stardom by creating the critically acclaimed Forza Horizon franchise, blending high-octane racing with gorgeous sandbox environments, and expanded its portfolio to lead the reboot of the beloved RPG series Fable.</p1>
</div>

<!-- This really is just a line -->
<hr class="justaline1">
 
<!-- div class 24 -->
<div class="StudioLabelDate0">
    <h3>2009 </h3>
</div>
<div class="StudioLabel0">
    <h2>22cans </h2>
</div>
<div class="StudioDescription0">
    <p1>Founded in England in 2012 by Fable creator Peter Molyneux, 22cans is an independent game development studio known for its experimental concepts and god games. The studio captured global attention with social experiments and simulation titles such as Curiosity: What's Inside the Cube?, Godus, The Trail, and Masters of Albion.</p1>
</div>

<!-- This really is just a line -->
<hr class="justaline1">
 
<!-- div class 25 -->
<div class="StudioLabelDate0">
    <h3>2009 </h3>
</div>
<div class="StudioLabel0">
    <h2>Alientrap </h2>
</div>
<div class="StudioDescription0">
    <p1>Founded in Toronto in 2002, Alientrap is an independent Canadian game development studio known for its distinct visual styles and diverse genre explorations. The studio gained early recognition with the open-source shooter Nexuiz before crafting acclaimed titles like the 2D action game Capsized, ancient Greek Pottery-inspired Apotheon, space roguelike Cryptark, storybook crafting adventure Wytchwood, and Gunhead.</p1>
</div>

<!-- This really is just a line -->
<hr class="justaline1">
 
<!-- div class 26 -->
<div class="StudioLabelDate0">
    <h3>2009 </h3>
</div>
<div class="StudioLabel0">
    <h2>The Game Bakers </h2>
</div>
<div class="StudioDescription0">
    <p1>Founded in Montpellier, France, in 2010 by former Ubisoft developers, The Game Bakers is an independent game studio renowned for crafting stylish, genre-focused experiences with strong artistic direction. The studio achieved critical acclaim with the intense boss-rush action game Furi, followed by the romantic adventure RPG Haven and the peaceful climbing game Cairn.</p1>
</div>

<!-- This really is just a line -->
<hr class="justaline1">
 
<!-- div class 27 -->
<div class="StudioLabelDate0">
    <h3>2009 </h3>
</div>
<div class="StudioLabel0">
    <h2>Supermassive Games </h2>
</div>
<div class="StudioDescription0">
    <p1>Founded in Guildford, UK, in 2008, Supermassive Games is a BAFTA-winning developer renowned for cinematic, choice-driven interactive drama and horror experiences. A subsidiary of Nordisk Games, the studio achieved breakout global success with the slasher hit Until Dawn and has continued to master atmospheric narrative games through The Dark Pictures Anthology, The Quarry, and The Casting of Frank Stone.</p1>
</div>

<!-- This really is just a line -->
<hr class="justaline1">
 
<!-- div class 28 -->
<div class="StudioLabelDate0">
    <h3>September 1, 2009 </h3>
</div>
<div class="StudioLabel0">
    <h2>Koei Tecmo Holdings </h2>
</div>
<div class="StudioDescription0">
    <p1>Formed in Japan in 2009 through the strategic merger of Koei and Tecmo, Koei Tecmo Holdings is a major video game publisher renowned for its action, strategy, and RPG franchises. Combining Koei’s historical strategy prowess (Nobunaga's Ambition, Romance of the Three Kingdoms) and hack-and-slash games (Dynasty Warriors, Samurai Warriors) with Tecmo’s high-octane action titles (Ninja Gaiden, Dead or Alive, Fatal Frame), the company also expanded its footprint with studio divisions like Team Ninja, Gust (Atelier series), and Omega Force.</p1>
</div>

<!-- This really is just a line -->
<hr class="justaline1">
 
<!-- div class 29 -->
<div class="StudioLabelDate0">
    <h3>2010 </h3>
</div>
<div class="StudioLabel0">
    <h2>Pearl Abyss </h2>
</div>
<div class="StudioDescription0">
    <p1>Founded in South Korea in 2010, Pearl Abyss is a premier game developer and publisher celebrated for its proprietary game engine technology and visually stunning open worlds. The studio rose to global prominence with the massively popular MMORPG Black Desert Online, known for its fast-paced combat and deep character customization, and has expanded its portfolio with blockbuster titles such as Crimson Desert alongside upcoming projects like DokeV and PLAN 8.</p1>
</div>

<!-- This really is just a line -->
<hr class="justaline1">
 
<!-- div class 30 -->
<div class="StudioLabelDate0">
    <h3>2011 </h3>
</div>
<div class="StudioLabel0">
    <h2>Creepy Jar </h2>
</div>
<div class="StudioDescription0">
    <p1>Established in Warsaw, Poland, in 2016 by veterans from studios like Techland and Flying Wild Hog, Creepy Jar is an independent developer and publisher known for creating immersive, high-stakes survival experiences. The studio earned global critical and commercial success with its breakout hit, the Amazonian rainforest survival simulator Green Hell, and expanded its portfolio into sci-fi survival and base-building with StarRupture.</p1>
</div>

<!-- This really is just a line -->
<hr class="justaline1">
 
<!-- div class 31 -->
<div class="StudioLabelDate0">
    <h3>2012 </h3>
</div>
<div class="StudioLabel0">
    <h2>Alex Massé & Team </h2>
</div>
<div class="StudioDescription0">
    <p1>Founded in Montreal, Canada, in 2019, Paralives Studio (credited as Alex Massé & Team) is an independent developer famous for crafting highly anticipated life simulation games. Powered by a massive community-funded Patreon model, the studio gained global attention for its debut title, Paralives—a fresh, grid-less alternative to The Sims renowned for its intuitive, highly flexible build tools, cozy aesthetics, and deep character customization.</p1>
</div>

<!-- This really is just a line -->
<hr class="justaline1">
 
<!-- div class 32 -->
<div class="StudioLabelDate0">
    <h3>2012 </h3>
</div>
<div class="StudioLabel0">
    <h2>Douze Dixièmes </h2>
</div>
<div class="StudioDescription0">
    <p1>Founded in France in 2017, Douze Dixièmes was an independent game development studio acclaimed for its evocative art direction and artistic, narrative-driven experiences. Partnered with Focus Entertainment, the studio earned recognition for its debut light-and-shadow puzzle-adventure Shady Part of Me before crafting the visually striking sci-fi Metroidvania MIO: Memories in Orbit.</p1>
</div>

<!-- This really is just a line -->
<hr class="justaline1">
 
<!-- div class 33 -->
<div class="StudioLabelDate0">
    <h3>2012 </h3>
</div>
<div class="StudioLabel0">
    <h2>Space Boat Studios </h2>
</div>
<div class="StudioDescription0">
    <p1>Founded in Poland in 2014, Space Boat Studios is an independent game developer known for creating diverse survival, simulation, and action titles across PC and consoles. The studio first gained attention with its open-world sandbox game Out of Reach and its spin-off Out of Reach: Treasure Royale, later expanding its portfolio with games such as Tribe: Primitive Builder and the biblical simulator I Am Jesus Christ.</p1>
</div>

<!-- This really is just a line -->
<hr class="justaline1">
 
<!-- div class 34 -->
<div class="StudioLabelDate0">
    <h3>2012 </h3>
</div>
<div class="StudioLabel0">
    <h2>Mega Crit </h2>
</div>
<div class="StudioDescription0">
    <p1>Founded in Seattle, Washington, in 2017 by Casey Yano and Anthony Giovannetti, Mega Crit is an independent game studio that revolutionized modern indie design. Originally starting as a two-person team, the studio popularized the roguelike deckbuilder genre with its hit debut title, Slay the Spire, recognized for its deep strategic synergy and dynamic run mechanics, before moving to the open-source Godot engine to build its highly anticipated sequel, Slay the Spire 2.</p1>
</div>

<!-- This really is just a line -->
<hr class="justaline1">
 
<!-- div class 35 -->
<div class="StudioLabelDate0">
    <h3>2013 </h3>
</div>
<div class="StudioLabel0">
    <h2>Boss Team Games </h2>
</div>
<div class="StudioDescription0">
    <p1>Based in Los Angeles, California, Boss Team Games is an independent publisher and developer specializing in adapting iconic pop culture and horror franchises into video games. Working alongside major partners and development studios, the company has carved out a niche in licensed interactive entertainment through titles like Evil Dead: The Game and the 16-bit retro horror platformer series RetroRealms (featuring properties like Halloween and Ash vs Evil Dead).</p1>
</div>

<!-- This really is just a line -->
<hr class="justaline1">
 
<!-- div class 36 -->
<div class="StudioLabelDate0">
    <h3>2013 </h3>
</div>
<div class="StudioLabel0">
    <h2>Squanch Games </h2>
</div>
<div class="StudioDescription0">
    <p1>Founded in Burbank, California, in 2016, Squanch Games (originally Squanchtendo) is an independent game studio known for its absurd humor, offbeat worldbuilding, and narrative-driven action. Originally established with a focus on immersive virtual reality experiences, the studio earned early acclaim with VR projects like Accounting+ and Trover Saves the Universe, before breaking out into mainstream success with its talking-gun comedic shooter, High on Life.</p1>
</div>

<!-- This really is just a line -->
<hr class="justaline1">
 
<!-- div class 37 -->
<div class="StudioLabelDate0">
    <h3>December 16, 2015 </h3>
</div>
<div class="StudioLabel0">
    <h2>Kojima Productions </h2>
</div>
<div class="StudioDescription0">
    <p1>Founded in Tokyo, Japan, in 2015 as an independent studio following its spin-off from Konami, Kojima Productions is a world-renowned developer led by legendary game auteur Hideo Kojima. Celebrated for its cinematic storytelling, avant-garde themes, and genre-blurring gameplay, the studio made waves with its debut hit Death Stranding and its sequel Death Stranding 2: On the Beach. The studio continues to push interactive boundaries with upcoming original titles, including the Xbox-partnered horror project OD and the action-espionage title Physint.</p1>
</div>

<!-- This really is just a line -->
<hr class="justaline1">
 
<!-- div class 38 -->
<div class="StudioLabelDate0">
    <h3>2015 </h3>
</div>
<div class="StudioLabel0">
    <h2>Wishfully Studios </h2>
</div>
<div class="StudioDescription0">
    <p1>Founded in Gothenburg, Sweden, in 2018, Wishfully Studios is an independent game development studio acclaimed for creating breathtaking, hand-painted cinematic adventures. Drawing heavy inspiration from Studio Ghibli visuals and classic cinematic platformers, the studio achieved widespread critical success with its debut puzzle-adventure Planet of Lana and its sequel Planet of Lana II: Children of the Leaf, celebrated for their atmospheric visual storytelling, sweeping orchestral scores, and emotional companion mechanics.</p1>
</div>

<!-- This really is just a line -->
<hr class="justaline1">
 
<!-- div class 39 -->
<div class="StudioLabelDate0">
    <h3>2016 </h3>
</div>
<div class="StudioLabel0">
    <h2>Sad Cat Studios </h2>
</div>
<div class="StudioDescription0">
    <p1>Founded in 2018 by Yura Zhdanovich and Igor Gritsay, Sad Cat Studios is an independent game development studio initially established in Minsk, Belarus, and currently based in Cyprus. The studio earned widespread industry acclaim for its striking debut title, REPLACED—a cinematic 2.5D retro-futuristic action-platformer set in an alternate 1980s dystopia. Known for its handcrafted frame-by-frame pixel art, gritty worldbuilding, and rhythm-based combat inspired by the Batman: Arkham series, the studio made waves across platforms with its immersive storytelling and visual direction.</p1>
</div>

<!-- This really is just a line -->
<hr class="justaline1">
 
<!-- div class 40 -->
<div class="StudioLabelDate0">
    <h3>2016 </h3>
</div>
<div class="StudioLabel0">
    <h2>Elliot Team </h2>
</div>
<div class="StudioDescription0">
    <p1>The core production unit behind Square Enix's HD-2D games (Octopath Traveler, Triangle Strategy) created The Adventures of Elliot: The Millennium Tales. The team is known for blending classic 16-bit pixel aesthetics with modern 3D lighting, depth of field, and dynamic action-RPG combat mechanics.</p1>
</div>

<!-- This really is just a line -->
<hr class="justaline1">
 
<!-- div class 41 -->
<div class="StudioLabelDate0">
    <h3>2016 </h3>
</div>
<div class="StudioLabel0">
    <h2>Alkimia Interactive </h2>
</div>
<div class="StudioDescription0">
    <p1>Founded in Barcelona, Spain, in 2020 as a subsidiary of THQ Nordic, Alkimia Interactive is a development studio specializing in high-quality RPGs and action-adventure titles. Led by Reinhard Pollice, the studio was specifically established to bring back Piranha Bytes' cult-classic dark fantasy RPG series with the ground-up remake, Gothic 1 Remake.</p1>
</div>

<!-- This really is just a line -->
<hr class="justaline1">
 
<!-- div class 42 -->
<div class="StudioLabelDate0">
    <h3>2017 </h3>
</div>
<div class="StudioLabel0">
    <h2>Ghost Story Games </h2>
</div>
<div class="StudioDescription0">
    <p1>Founded in Westwood, Massachusetts, in 2017 as a subsidiary of Take-Two Interactive, Ghost Story Games is the rebranded continuation of Irrational Games, led by renowned game director Ken Levine (System Shock 2, BioShock). Created to focus on smaller-team development and highly immersive, player-driven storytelling, the studio is best known for developing the narrative first-person shooter Judas, which centers on "narrative Lego" mechanics designed to dynamically react to player choices.</p1>
</div>

<!-- This really is just a line -->
<hr class="justaline1">
 
<!-- div class 43 -->
<div class="StudioLabelDate0">
    <h3>2017 </h3>
</div>
<div class="StudioLabel0">
    <h2>Hypergryph </h2>
</div>
<div class="StudioDescription0">
    <p1>Founded in Shanghai, China, in 2017, Hypergryph is a prominent game development studio best known for creating the globally hit tactical tower-defense RPG Arknights. Renowned for its sleek visual aesthetics, deep sci-fi worldbuilding, and iconic character design, the studio has continued to expand its universe and gameplay repertoire with titles like the 3D turn-based RPG Ex Astris and the real-time strategy RPG Arknights: Endfield.</p1>
</div>

<!-- This really is just a line -->
<hr class="justaline1">
 
<!-- div class 44 -->
<div class="StudioLabelDate0">
    <h3>2018 </h3>
</div>
<div class="StudioLabel0">
    <h2>Hypixel Studios </h2>
</div>
<div class="StudioDescription0">
    <p1>Founded in 2018 as a spin-off of the team behind the massive Hypixel Minecraft server, Hypixel Studios is a game developer known for its community-driven, block-based sandbox worldbuilding. Backed and later acquired by Riot Games, the studio was created to develop its flagship standalone title, Hytale—a voxel RPG designed to blend procedural adventure, minigames, and deep creator tools for modders.</p1>
</div>

<!-- This really is just a line -->
<hr class="justaline1">
 
<!-- div class 45 -->
<div class="StudioLabelDate0">
    <h3>2018 </h3>
</div>
<div class="StudioLabel0">
    <h2>S-Game </h2>
</div>
<div class="StudioDescription0">
    <p1>Founded in Beijing, China, in 2011 by director Soulframe Liang, S-Game is a game development studio best known for its fast-paced action RPGs and martial arts worldbuilding. Evolving from a small team that created the indie Rainblood series into a major studio, S-Game built a massive fanbase across Asia with its mobile titles in the Phantom Blade franchise before making a splash on the global stage with its flagship Unreal Engine 5 title, Phantom Blade Zero—an fast-action wuxia RPG celebrating classic Hong Kong martial arts cinema through its signature "kungfupunk" aesthetic.</p1>
</div>

<!-- This really is just a line -->
<hr class="justaline1">
 
<!-- div class 46 -->
<div class="StudioLabelDate0">
    <h3>2019 </h3>
</div>
<div class="StudioLabel0">
    <h2>Mega Crystal Dynamic </h2>
</div>
<div class="StudioDescription0">
    <p1>Founded in San Mateo, California, in 1992, Crystal Dynamics is a legendary American game development studio celebrated for its action-adventure titles and cinematic storytelling. Acquired by Embracer Group in 2022 after previous ownership under Eidos and Square Enix, the studio is world-renowned for defining iconic franchises such as Gex, Legacy of Kain, and taking over as the primary developer behind modern iterations of the multi-million-selling Tomb Raider series.</p1>
</div>

<!-- This really is just a line -->
<hr class="justaline1">
 
<!-- div class 47 -->
<div class="StudioLabelDate0">
    <h3>individual developer, Date N/A </h3>
</div>
<div class="StudioLabel0">
    <h2>Edmund McMillen </h2>
</div>
<div class="StudioDescription0">
    <p1>Based in Santa Cruz, California, Edmund McMillen is an iconic American indie game designer and artist who played a defining role in the modern indie game movement. Renowned for his distinctively dark, grotesque art style, gross-out humor, and unforgiving gameplay design, he co-created the landmark platformer Super Meat Boy (with Team Meat) and revolutionized the roguelike genre with The Binding of Isaac. His portfolio also includes cult classics like The End Is Nigh, The Legend of Bum-bo, and Mewgenics.</p1>
</div>

<!-- This really is just a line -->
<hr class="justaline1">
 
<!-- div class 48 -->
<div class="StudioLabelDate0">
    <h3>not a registered studio, Date N/A </h3>
</div>
<div class="StudioLabel0">
    <h2>Edmund McMillen & team</h2>
</div>
<div class="StudioDescription0">
    <p1>While Edmund McMillen frequently operates as an independent auteur, his career is defined by key collaborations and small development teams:  Team Meat: The original independent studio co-founded by McMillen and programmer Tommy Refenes. Together, they developed the legendary platformer Super Meat Boy before McMillen officially departed the studio in 2016.  Collaboration with Tyler Glaiel: Following Team Meat, McMillen partnered with developer Tyler Glaiel to create the challenging platformer The End Is Nigh and the tactical turn-based roguelite Mewgenics.Collaboration with Florian Himsl & Nicalis: McMillen originally built the Flash prototype of The Binding of Isaac alongside programmer Florian Himsl, later teaming up with publisher/developer Nicalis to expand the game into the full-scale remake The Binding of Isaac: Rebirth. </p1>
</div>

<!-- This really is just a line -->
<hr class="justaline1">
 






{% if request.endpoint == 'home' %}
{% endif %}

{% block body %}
{% endblock %}
</div> 

</body>
</html>