<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Studio</title>
    <link rel="icon" type="image/x-icon" href="/static/steamicon.png">
</head>
<body class="w3-container">
    <div class="main-container"> <header class="w3-container w3-padding-32">
</header>

<!-- This is the Nav Bar -->
<nav class="topnav">

<div class="style0">
    <a href="/">
<div class="steamicon2">

    <img src="{{ url_for('static', filename='steamicon.png') }}" alt="Steam Logo">
</div>
<!-- Just a span ON NAV BAR -->
<div class="hometextstyle">
    <span>Return Home?</span>
</div>
    </a>
</div>

    <a href="studiodesc">
    </a>

<!-- Just the search bar -->
<div class="search-bar">
    <input type="text" id="page-search" placeholder="Go back to Homepage to search">
</div>
</nav>

<!-- This really is just a line -->
<hr class="justaline1">

<!-- just a heading -->
<div class="StudioDescHeading1">
    <h1>Welcome to the Studios Info Page!</h1>
</div>

<!-- just a paragraph -->
<div class="studioparagraph">
    <p>"What does this page do?"" | USER <br> "Well I'm glad you asked!" | WEBSITE <br> "This page displays the name 
        and information for 45 different studios which developed 48 different games" | WEBSITE<br> "Oh wow duuuude!!! thats so awsome and useful duuuude!" | USER <br>
        "I knoooow duuude" | WEBSITE
    </p>
</div>

<!-- This really is just a line -->
<hr class="justaline">

<!-- Headings -->
<div class="mainstudiodesc1">
    <span>DATE, PUBLICLY KNOWN</span>
</div>
<div class="mainstudiodesc2">
    <span>STUDIO</span>
</div>
<div class="mainstudiodesc3">
    <span>DESCRIPTION</span>
</div>

<!-- This really is just a line -->
<hr class="justaline">

<!-- These are just headings of date, studio paragraph1 for description -->

<!-- div class 0 -->
<div class="StudioLabelDate0">
    <h3>May 1, 1950</h3>
</div>
<div class="StudioLabel0">
    <h2>Bandai </h2>
</div>

<!-- div class 1 -->
<div class="StudioLabelDate1">
    <h3>June 1, 1955</h3>
</div>
<div class="StudioLabel1">
    <h2>Namco </h2>
</div>

<!-- div class 2 -->
 <div class="StudioLabelDate0">
    <h3>July 31, 1967</h3>
</div>
<div class="StudioLabel2">
    <h2>Tecmo </h2>
</div>

<!-- div class 3 -->
<div class="StudioLabelDate0">
    <h3>July 25, 1978 </h3>
</div>
<div class="StudioLabel3">
    <h2>Koei </h2>
</div>

<!-- div class 4 -->
<div class="StudioLabelDate0">
    <h3>PLACEHOLDER </h3>
</div>
<div class="StudioLabel4">
    <h2>Nihon Falcom </h2>
</div>

<!-- div class 5 -->
<div class="StudioLabelDate0">
    <h3>PLACEHOLDER </h3>
</div>
<div class="StudioLabel5">
    <h2>Enix </h2>
</div>

<!-- div class 6 -->
<div class="StudioLabelDate0">
    <h3>PLACEHOLDER </h3>
</div>
<div class="StudioLabel6">
    <h2>Square </h2>
</div>

<!-- div class 7 -->
<div class="StudioLabelDate0">
    <h3>PLACEHOLDER </h3>
</div>
<div class="StudioLabel7">
    <h2>Team Ninja </h2>
</div>

<!-- div class 8 -->
<div class="StudioLabelDate0">
    <h3>PLACEHOLDER </h3>
</div>
<div class="StudioLabel8">
    <h2>Visual Concepts </h2>
</div>

<!-- div class 9 -->
<div class="StudioLabelDate0">
    <h3>PLACEHOLDER </h3>
</div>
<div class="StudioLabel9">
    <h2>Game Freak </h2>
</div>

<!-- div class 10 -->
<div class="StudioLabelDate0">
    <h3>PLACEHOLDER </h3>
</div>
<div class="StudioLabel10">
    <h2>Blizzard Entertainment </h2>
</div>

<!-- div class 11 -->
<div class="StudioLabelDate0">
    <h3>PLACEHOLDER </h3>
</div>
<div class="StudioLabel11">
    <h2>Bungie </h2>
</div>

<!-- div class 12 -->
<div class="StudioLabelDate0">
    <h3>PLACEHOLDER </h3>
</div>
<div class="StudioLabel12">
    <h2>Rockstar Games </h2>
</div>

<!-- div class 13 -->
<div class="StudioLabelDate0">
    <h3>PLACEHOLDER </h3>
</div>
<div class="StudioLabel13">
    <h2>IO Interactive </h2>
</div>

<!-- div class 14 -->
<div class="StudioLabelDate0">
    <h3>PLACEHOLDER </h3>
</div>
<div class="StudioLabel14">
    <h2>Saber Interactive </h2>
</div>

<!-- div class 15 -->
<div class="StudioLabelDate0">
    <h3>PLACEHOLDER </h3>
</div>
<div class="StudioLabel15">
    <h2>Ryu Ga Gotoku Studio </h2>
</div>

<!-- div class 16 -->
<div class="StudioLabelDate0">
    <h3>PLACEHOLDER </h3>
</div>
<div class="StudioLabel16">
    <h2>Ice-Pick Lodge </h2>
</div>

<!-- div class 17 -->
<div class="StudioLabelDate0">
    <h3>PLACEHOLDER </h3>
</div>
<div class="StudioLabel17">
    <h2>TT Games </h2>
</div>

<!-- div class 18 -->
<div class="StudioLabelDate0">
    <h3>PLACEHOLDER </h3>
</div>
<div class="StudioLabel18">
    <h2>Square Enix (merger) </h2>
</div>

<!-- div class 19 -->
<div class="StudioLabelDate0">
    <h3>PLACEHOLDER </h3>
</div>
<div class="StudioLabel19">
    <h2>Unknown Worlds </h2>
</div>

<!-- div class 20 -->
<div class="StudioLabelDate0">
    <h3>PLACEHOLDER </h3>
</div>
<div class="StudioLabel20">
    <h2>Bandai Namco Entertainment </h2>
</div>

<!-- div class 21 -->
<div class="StudioLabelDate0">
    <h3>PLACEHOLDER </h3>
</div>
<div class="StudioLabel21">
    <h2>Tarsier Studios </h2>
</div>

<!-- div class 22 -->
<div class="StudioLabelDate0">
    <h3>PLACEHOLDER </h3>
</div>
<div class="StudioLabel22">
    <h2>Riot Games </h2>
</div>

<!-- div class 23 -->
<div class="StudioLabelDate0">
    <h3>PLACEHOLDER </h3>
</div>
<div class="StudioLabel23">
    <h2>Playground Games </h2>
</div>

<!-- div class 24 -->
<div class="StudioLabelDate0">
    <h3>PLACEHOLDER </h3>
</div>
<div class="StudioLabel24">
    <h2>22cans </h2>
</div>

<!-- div class 25 -->
<div class="StudioLabelDate0">
    <h3>PLACEHOLDER </h3>
</div>
<div class="StudioLabel25">
    <h2>Alientrap </h2>
</div>

<!-- div class 26 -->
<div class="StudioLabelDate0">
    <h3>PLACEHOLDER </h3>
</div>
<div class="StudioLabel26">
    <h2>The Game Bakers </h2>
</div>

<!-- div class 27 -->
<div class="StudioLabelDate0">
    <h3>PLACEHOLDER </h3>
</div>
<div class="StudioLabel27">
    <h2>Supermassive Games </h2>
</div>

<!-- div class 28 -->
<div class="StudioLabelDate0">
    <h3>PLACEHOLDER </h3>
</div>
<div class="StudioLabel28">
    <h2>Koei Tecmo Holdings </h2>
</div>

<!-- div class 29 -->
<div class="StudioLabelDate0">
    <h3>PLACEHOLDER </h3>
</div>
<div class="StudioLabel29">
    <h2>Pearl Abyss </h2>
</div>

<!-- div class 30 -->
<div class="StudioLabelDate0">
    <h3>PLACEHOLDER </h3>
</div>
<div class="StudioLabel30">
    <h2>Creepy Jar </h2>
</div>

<!-- div class 31 -->
<div class="StudioLabelDate0">
    <h3>PLACEHOLDER </h3>
</div>
<div class="StudioLabel31">
    <h2>Alex Massé & Team </h2>
</div>

<!-- div class 32 -->
<div class="StudioLabelDate0">
    <h3>PLACEHOLDER </h3>
</div>
<div class="StudioLabel32">
    <h2>Douze Dixièmes </h2>
</div>

<!-- div class 33 -->
<div class="StudioLabelDate0">
    <h3>PLACEHOLDER </h3>
</div>
<div class="StudioLabel33">
    <h2>Space Boat Studios </h2>
</div>

<!-- div class 34 -->
<div class="StudioLabelDate0">
    <h3>PLACEHOLDER </h3>
</div>
<div class="StudioLabel34">
    <h2>Mega Crit </h2>
</div>

<!-- div class 35 -->
<div class="StudioLabelDate0">
    <h3>PLACEHOLDER </h3>
</div>
<div class="StudioLabel35">
    <h2>Boss Team Games </h2>
</div>

<!-- div class 36 -->
<div class="StudioLabelDate0">
    <h3>PLACEHOLDER </h3>
</div>
<div class="StudioLabel36">
    <h2>Squanch Games </h2>
</div>

<!-- div class 37 -->
<div class="StudioLabelDate0">
    <h3>PLACEHOLDER </h3>
</div>
<div class="StudioLabel37">
    <h2>Kojima Productions (independent) </h2>
</div>

<!-- div class 38 -->
<div class="StudioLabelDate0">
    <h3>PLACEHOLDER </h3>
</div>
<div class="StudioLabel38">
    <h2>Wishfully Studios </h2>
</div>

<!-- div class 39 -->
<div class="StudioLabelDate0">
    <h3>PLACEHOLDER </h3>
</div>
<div class="StudioLabel39">
    <h2>Sad Cat Studios </h2>
</div>

<!-- div class 40 -->
<div class="StudioLabelDate0">
    <h3>PLACEHOLDER </h3>
</div>
<div class="StudioLabel40">
    <h2>Elliot Team </h2>
</div>

<!-- div class 41 -->
<div class="StudioLabelDate0">
    <h3>PLACEHOLDER </h3>
</div>
<div class="StudioLabel41">
    <h2>Alkimia Interactive </h2>
</div>

<!-- div class 42 -->
<div class="StudioLabelDate0">
    <h3>PLACEHOLDER </h3>
</div>
<div class="StudioLabel42">
    <h2>Ghost Story Games </h2>
</div>

<!-- div class 43 -->
<div class="StudioLabelDate0">
    <h3>PLACEHOLDER </h3>
</div>
<div class="StudioLabel43">
    <h2>Hypergryph </h2>
</div>

<!-- div class 44 -->
<div class="StudioLabelDate0">
    <h3>PLACEHOLDER </h3>
</div>
<div class="StudioLabel44">
    <h2>Hypixel Studios </h2>
</div>

<!-- div class 45 -->
<div class="StudioLabelDate0">
    <h3>PLACEHOLDER </h3>
</div>
<div class="StudioLabel45">
    <h2>S-Game </h2>
</div>

<!-- div class 46 -->
<div class="StudioLabelDate0">
    <h3>PLACEHOLDER </h3>
</div>
<div class="StudioLabel46">
    <h2>Mega Crystal Dynamic </h2>
</div>

<!-- div class 47 -->
<div class="StudioLabelDate0">
    <h3>PLACEHOLDER </h3>
</div>
<div class="StudioLabel47">
    <h2>Edmund McMillen </h2>
</div>

<!-- div class 48 -->
<div class="StudioLabelDate0">
    <h3>PLACEHOLDER </h3>
</div>
<div class="StudioLabel48">
    <h2>Edmund McMillen & team</h2>
</div>







{% if request.endpoint == 'home' %}
{% endif %}

{% block body %}
{% endblock %}
</div> 

</body>
</html>